<div class="d-flex justify-center my-1">
  <div class="w-95">
    <mat-card>
      <mat-card-content>
        <h2>{{unit.name}}</h2>
        <div class="layout-form">
          <div class="d-flex justify-space-between">
            <mat-form-field appearance="fill">
              <mat-label>標題</mat-label>
              <input matInput [(ngModel)]="searchParams.title">
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>分類</mat-label>
              <mat-select [(ngModel)]="searchParams.categoryId">
                <mat-option [value]="-1">全部</mat-option>
                <mat-option *ngFor="let item of unitEnabledCategories" [value]="item.id">{{item.name}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>起始時間</mat-label>
              <input readonly matInput [matDatepicker]="sDatePicker" readonly [(ngModel)]="searchParams.startDt">
              <mat-datepicker-toggle matIconSuffix [for]=" sDatePicker"></mat-datepicker-toggle>
              <mat-datepicker #sDatePicker></mat-datepicker>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>結束時間</mat-label>
              <input matInput [matDatepicker]="eDatePicker" readonly [(ngModel)]="searchParams.endDt">
              <mat-datepicker-toggle matIconSuffix [for]="eDatePicker"></mat-datepicker-toggle>
              <mat-datepicker #eDatePicker></mat-datepicker>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>狀態</mat-label>
              <mat-select [(ngModel)]="searchParams.editAndEnabledStatus">
                <mat-option *ngFor="let item of editAndEnabledOptions" [value]="item.value">{{item.name}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="d-flex mb-1-i">
            <button mat-stroked-button color="primary" class="mr-1-i" (click)="resetSearchParams()">預設</button>
            <button mat-raised-button color="primary" (click)="onSearch()">查詢</button>
          </div>
        </div>
        <mat-divider></mat-divider>
      </mat-card-content>
    </mat-card>
  </div>
</div>
