<div class="d-flex justify-center my-1">
  <div class="w-95">
    <mat-card>
      <mat-card-content>
        <h2>常見問題 - {{pageStatusName}}</h2>
        <mat-divider></mat-divider>
        <div class="pt-1">
          <form [formGroup]="questionForm" (ngSubmit)="onSubmit()">
            <div class="py-1">
              <input formControlName="id" name="id" [value]="null" type="hidden">
              <mat-form-field appearance="fill">
                <mat-label>標題</mat-label>
                <input matInput formControlName="title" name="title" readonly
                  onfocus="this.removeAttribute('readonly');">
                <mat-error *ngIf="validatorService.isFormControlInvalid(questionForm, 'title')">
                  {{validatorService.getFormControlErrorText(FormControlErrorType.Required)}}
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="fill" class="ml-1-i">
                <mat-label>狀態</mat-label>
                <mat-select formControlName="isEnabled" name="isEnabled">
                  <mat-option [value]="true">啟用</mat-option>
                  <mat-option [value]="false">停用</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <mat-divider></mat-divider>
            <div class="d-flex justify-center pt-1">
              <a mat-stroked-button class="mr-1-i" [routerLink]="['/question']">取消</a>
              <button type="submit" mat-raised-button color="primary">送出</button>
            </div>
          </form>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
