.mat-form-field {
  max-width: 170px;

  @media (min-width: 1240px) {
    max-width: 185px;
  }
}

.mat-table {
  th {
    &:nth-child(3) {
      padding-left: 10px;
      padding-right: 10px;
    }
    &:nth-child(7) {
      width: 90px;
      text-align: center;
    }
  }

  td {
    &:nth-child(3) {
      width: 200px;
      max-width: 200px;
      padding-left: 10px;
      padding-right: 10px;
    }
    &:nth-child(7) {
      text-align: center;
    }
  }
}
