.mat-form-field {
  max-width: 170px;

  @media (min-width: 1240px) {
    max-width: 185px;
  }
}

.mat-table {
  th {
    &:nth-child(6),
    &:nth-child(7) {
      width: 90px;
      text-align: center;
    }
  }

  td {
    &:nth-child(6),
    &:nth-child(7) {
      text-align: center;
    }
  }
}
