<div class="layout">
  <mat-toolbar class="layout__navbar" color="primary">
    <div class="d-flex items-center">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <a class="layout__title-link" [routerLink]="['/']" matTooltip="Home">
        <h1 class="layout__title">
          PJ Design
        </h1>
      </a>
    </div>
    <div class="d-flex items-center">
      <button class="layout__user-btn" mat-button [matMenuTriggerFor]="userMenu">
        <mat-icon>person</mat-icon>
        <span>
          {{userName}}
        </span>
      </button>
      <mat-menu #userMenu="matMenu" xPosition="before" yPosition="above" [overlapTrigger]="false">
        <a class="d-flex-i items-center-i" mat-menu-item [routerLink]="['/']">
          <mat-icon>exit_to_app</mat-icon>
          <span>登出</span>
        </a>
      </mat-menu>
    </div>
  </mat-toolbar>
  <mat-sidenav-container class="layout__sidenav-container">
    <mat-sidenav #sidenav class="layout__sidenav" opened [mode]="'side'" [fixedInViewport]="true" fixedTopGap="64">
      <mat-nav-list>
        <h3 mat-subheader>Home</h3>
        <a mat-list-item [routerLink]="['/administrator']" routerLinkActive="active">
          <mat-icon mat-list-icon>
            people
          </mat-icon>
          <p mat-line> 帳戶管理 </p>
        </a>
        <a mat-list-item [routerLink]="['/unit']" routerLinkActive="active">
          <mat-icon mat-list-icon>
            dashboard
          </mat-icon>
          <p mat-line> 單元管理 </p>
        </a>
        <a mat-list-item [routerLink]="['/users']" routerLinkActive="active">
          <mat-icon mat-list-icon>
            list
          </mat-icon>
          <p mat-line> 審核列表 </p>
        </a>
        <a mat-list-item [routerLink]="['/account/profile']">
          <mat-icon mat-list-icon>settings</mat-icon>
          <p mat-line> 首頁設定 </p>
        </a>
        <a mat-list-item [routerLink]="['/icons']" routerLinkActive="active">
          <mat-icon mat-list-icon>
            settings
          </mat-icon>
          <p mat-line> Footer設定 </p>
        </a>
        <mat-divider></mat-divider>
        <h3 mat-subheader>Resources</h3>
        <a mat-list-item [routerLink]="['/typography']" routerLinkActive="active">
          <mat-icon mat-list-icon>
            photo
          </mat-icon>
          <p mat-line> 作品集 </p>
        </a>
        <a mat-list-item [routerLink]="['/typography']" routerLinkActive="active">
          <mat-icon mat-list-icon>
            event_note
          </mat-icon>
          <p mat-line> 活動快訊 </p>
        </a>
        <a mat-list-item href="https://material.angular.io/components/categories" target="_blank">
          <mat-icon mat-list-icon>
            question_answer
          </mat-icon>
          <p mat-line> 常見問題 </p>
        </a>
        <a mat-list-item href="https://material.angular.io/components/categories" target="_blank">
          <mat-icon mat-list-icon>
            phone
          </mat-icon>
          <p mat-line> 聯絡我們 </p>
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="layout__content">
      <!-- <div class="layout__progress-bar-container">
        <mat-progress-bar color="indigo" mode="indeterminate" *ngIf="true">
        </mat-progress-bar>
      </div> -->
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
