.layout {
  &__navbar {
    z-index: 2;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    display: flex !important;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 1rem;
    box-shadow: 0 3px 5px -1px #0003, 0 6px 10px #00000024, 0 1px 18px #0000001f;
  }

  &__title-link {
    color: #fff;
    text-decoration: none;
  }

  &__title {
    font-size: 16px;
    letter-spacing: 3px;
  }

  &__user-btn {
    align-self: center;
    min-width: auto;
    letter-spacing: 3px;
  }

  &__sidenav-container {
    flex: 1;
    height: 100vh;
  }

  &__sidenav {
    min-width: 210px !important;
    max-width: 220px !important;
    border-right: 1px solid #eee;
    box-shadow: 6px 0 6px rgba(0, 0, 0, 0.1);
    overflow-x: hidden;
  }

  &__content {
    position: relative;
    top: 56px;
    height: calc(100vh - 56px);
    overflow-y: auto;

    @media screen and (min-width: 600px) {
      top: 64px;
      height: calc(100vh - 64px);
    }
  }

  &__spinner-wrap {
    z-index: 999;
    position: fixed;
    top: 0px;
    left: 210px;
    bottom: 0px;
    width: calc(100vw - 210px);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.07);
    transition-duration: 400ms;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);

    &.expand {
      left: 0px;
      width: 100vw;
    }
  }

  .mat-list-item {
    font-size: 14px;

    &.active {
      background: rgba(0, 0, 0, 0.04);
    }
  }

  .mat-expansion-panel-header {
    &::before {
      position: absolute;
      right: 15px;
      top: 50%;
      margin-top: -5px;
      border-style: solid;
      border-width: 0 2px 2px 0;
      content: "";
      display: inline-block;
      padding: 3px;
      transform: rotate(45deg);
      vertical-align: middle;
      color: #0000008a;
      transition: 0.15s transform;
    }

    &.mat-expanded {
      &::before {
        top: 56%;
        transform: rotate(225deg);
      }
    }
  }
}

::ng-deep {
  .mat-progress-spinner svg {
    width: 60px !important;
    height: 60px !important;
  }
  .mat-spinner circle {
    stroke: rgb(71, 71, 71);
  }
}
