.mat-form-field {
  max-width: 185px;
}

.mat-table {
  th {
    &:nth-child(6) {
      width: 90px;
      text-align: center;
    }
  }

  td {
    &:nth-child(6) {
      text-align: center;
    }
  }
}
