@import "./styles/utils/variables";
@import "./styles/utils/mixins";
@import "./styles/utils/helpers";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Noto Sans TC", "Helvetica Neue", sans-serif;
}

.mat-list-text,
.mat-button,
.mat-toolbar,
.mat-tree,
h1,
h2,
h3,
h4,
h5,
h6,
span,
p,
a,
button {
  font-family: "Noto Sans TC", "Helvetica Neue", sans-serif !important;
}

.mat-list-icon {
  overflow-x: hidden;
}

.mat-card {
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  position: relative;
  padding: 16px;
  border-radius: 4px;
  box-shadow: 0 2px 1px -1px #0003, 0 1px 1px #00000024, 0 1px 3px #0000001f;
}

.mat-datepicker-toggle {
  position: absolute;
  right: 0px;
  top: -16.5px;
}

.mat-icon {
  overflow: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(156, 156, 156);

  &:hover {
    background: darken(rgb(156, 156, 156), 10%);
  }
}

.file-input-btn {
  display: inline-block;
  padding: 7px 12px;
  margin-bottom: 0;
  border: 1px solid transparent;
  border-radius: 4px;
  border-color: #46b8da;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-image: none;
  background-color: #31b0d5;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  transition: 0.15s;

  &:hover {
    background-color: darken(#31b0d5, 5%);
    border-color: #269abc;
  }

  &.disabled {
    opacity: 0.6;
    pointer-events: none;
  }

  input {
    display: none;
  }
}

.c-input {
  display: inline-block;
  padding: 7px 12px;
  margin-bottom: 0;
  border: 1px solid #ced4da;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  white-space: nowrap;
  vertical-align: middle;
  background-image: none;
  transition: 0.15s;
}

.c-btn {
  display: inline-block;
  padding: 7px 12px;
  margin-bottom: 0;
  border: 1px solid transparent;
  border-radius: 4px;
  border-color: #46b8da;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-image: none;
  background-color: #31b0d5;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  transition: 0.15s;

  &:hover {
    background-color: darken(#31b0d5, 5%);
    border-color: #269abc;
  }

  &.disabled {
    opacity: 0.6;
    pointer-events: none;
  }
}
