<h1 mat-dialog-title>{{data?.unit?.id != null && data?.unit?.id != undefined ? '編輯' : '新增'}}</h1>
<form [formGroup]="unitForm">
  <div mat-dialog-content>
    <mat-form-field appearance="fill" class="w-100 mb-1">
      <mat-label>名稱</mat-label>
      <input matInput formControlName="name">
      <mat-error *ngIf="validatorService.isFormControlInvalid(unitForm, 'name')">
        {{validatorService.getFormControlErrorText(FormControlErrorType.Required)}}
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill" class="w-100">
      <mat-label>模板</mat-label>
      <mat-select formControlName="templateType">
        <mat-option *ngFor="let item of templateOption" [value]="item.value">
          {{item.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill" class="w-100" *ngIf="unitForm.get('templateType')?.value === 0">
      <mat-label>URL</mat-label>
      <input matInput formControlName="url">
      <mat-error
        *ngIf="unitForm.get('templateType')?.value === 0 && validatorService.isFormControlInvalid(unitForm, 'name')">
        {{validatorService.getFormControlErrorText(FormControlErrorType.Required)}}
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill" class="w-100">
      <mat-label>另開視窗</mat-label>
      <mat-select formControlName="isAnotherWindow">
        <mat-option [value]="true">
          是
        </mat-option>
        <mat-option [value]="false">
          否
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill" class="w-100">
      <mat-label>狀態</mat-label>
      <mat-select formControlName="isEnabled">
        <mat-option [value]="true">
          啟用
        </mat-option>
        <mat-option [value]="false">
          停用
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div mat-dialog-actions class="d-flex justify-center">
    <button mat-button (click)="onCancelBtnClick()">取消</button>
    <button mat-button (click)="onSubmit()" cdkFocusInitial>確定</button>
  </div>
</form>
