<div class="d-flex justify-center my-1">
  <div class="w-95">
    <mat-card>
      <mat-card-content>
        <h2>帳戶管理</h2>
        <mat-divider></mat-divider>
        <div class="pt-1">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis, amet. Tenetur sed quam magni sunt nihil,
          repellendus ducimus quidem animi. Asperiores sunt eligendi corporis voluptates earum aliquam, culpa neque
          explicabo nulla delectus ipsum odio dolore ullam aspernatur assumenda necessitatibus maiores nam quaerat eos
          ut modi rerum? Accusantium, enim doloremque. Qui quaerat accusantium hic. Et ipsam maiores eligendi sapiente,
          dolore asperiores enim aperiam tenetur! Omnis consequuntur aliquid doloremque dolorem modi? Consectetur, rerum
          at? Quis deserunt, aut maxime, assumenda doloremque, libero consequuntur perferendis iusto neque quaerat nam
          fuga quos quas eum officiis maiores. At nulla libero explicabo debitis neque, optio, autem cumque et dolore
          officia cum laudantium, nesciunt temporibus doloribus repellendus voluptatum. Temporibus tempore, ex explicabo
          id dolore, soluta quis vel praesentium a modi facilis sed cumque expedita libero maiores nisi repellat
          provident esse mollitia consequatur nostrum illum. Officia corporis quibusdam quisquam id eveniet dolorem
          architecto enim vel? Animi debitis quibusdam est sint commodi, architecto corrupti fugiat voluptate doloribus
          omnis, numquam fugit ab iusto, magnam illo vitae impedit quod earum sed similique vel obcaecati necessitatibus
          porro? At eos unde architecto tenetur rem fugit nam. Necessitatibus fugiat quibusdam inventore voluptates,
          quasi eum aspernatur, voluptatibus, vero perferendis nihil ipsum! Quae facilis consectetur labore sed!
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
