<div class="d-flex justify-center my-1">
  <div class="w-95">
    <mat-card>
      <mat-card-content>
        <h2>{{unit.name}}</h2>
        <mat-divider></mat-divider>
        <div class="pt-2 pb-1 px-2">
          <mat-tab-group>
            <mat-tab label="自定義區塊">
              <div class="p-1">
                自定義區塊
              </div>
            </mat-tab>
            <mat-tab label="單元區塊">
              <div class="py-2 px-3">
                <div class="d-flex justify-space-between items-center">
                  <mat-form-field appearance="fill">
                    <mat-label>Type2 單元</mat-label>
                    <mat-select>
                      <mat-option *ngFor="let item of type2Units" [value]="item.id">
                        {{item.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field appearance="fill">
                    <mat-label>單元模板</mat-label>
                    <mat-select>
                      <mat-option *ngFor="let item of type2TemplateTypes" [value]="item.id">
                        {{item.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field appearance="fill">
                    <mat-label>排序</mat-label>
                    <input matInput type="number">
                  </mat-form-field>
                  <button type="button" mat-stroked-button color="basic" [disabled]="isPreventEdit()"
                    style="position: relative;top: 8px;align-self: baseline;">移除</button>
                </div>
                <button mat-raised-button color="primary" class="w-100">新增</button>
              </div>
            </mat-tab>
          </mat-tab-group>
          <div class="my-1">
            <mat-checkbox class="example-margin">是否呈現作品集</mat-checkbox>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
