<div class="d-flex justify-center my-1">
  <div class="w-95">
    <mat-card>
      <mat-card-content>
        <h2>作品集 - {{pageStatusName}}</h2>
        <mat-divider></mat-divider>
        <div class="pt-1">
          <form>
            <div class="d-flex justify-space-between">
              <mat-form-field appearance="fill">
                <mat-label>帳戶</mat-label>
                <input matInput>
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>名稱</mat-label>
                <input matInput>
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>密碼</mat-label>
                <input matInput>
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>身份</mat-label>
                <mat-select>
                  <mat-option value="one">管理員</mat-option>
                  <mat-option value="two">一般用戶</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>狀態</mat-label>
                <mat-select>
                  <mat-option value="one">啟用</mat-option>
                  <mat-option value="two">停用</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <mat-divider></mat-divider>

            <div class="d-flex justify-center pt-1">
              <a mat-stroked-button class="mr-1-i" [routerLink]="['/portfolio',]">取消</a>
              <button mat-raised-button color="primary">送出</button>
            </div>
          </form>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
